<div class="main">
  <div class="title">
    <h2 i18n>Exporter Anfragen</h2>
  </div>

  <div class="main-box">
    <div class="query-box">
      <span class="query-box-titel">Titel: </span><span class="query-box-titel">{{currentItem?.label}}</span>
      <span class="query-box-abfrage">Abfrage: </span><span>{{currentItem?.query}}</span>
      <span class="query-box-beschreibung">Beschreibung: </span><span>{{currentItem?.description}}</span>
      <span class="query-box-template">Template: </span><span>{{currentItem?.defaultTemplateId}}</span>
      <span class="query-box-ausgabeformat">Ausgabeformat: </span><span>{{currentItem?.defaultOutputFormat}}</span>
      <span class="query-box-ablaufsdatum">Ablaufdatum: </span><span>{{currentItem?.expirationDate !== "0" ? (currentItem?.expirationDate | date: 'mediumDate') : "keine Angabe"}}</span>
      <span class="query-box-umgebungsvariablen">Umgebungsvariablen: </span><span>{{currentItem?.context}}</span>
      <span class="query-box-anfrage">Anfrage: </span><span>{{currentItem?.query}}</span>
      <span class="query-box-erstelltam">Erstellt am: </span><span>{{currentItem?.createdAt | date: 'mediumDate'}}</span>
      <span class="query-box-anfragender">Anfragender: </span><span>{{currentItem?.contactId}}</span>
      <span class="query-box-format">Format: </span><span>{{currentItem?.format}}</span>
      <div class="edit-ausfuehren">
        <button class="query-box-edit" mat-raised-button (click)="createNewQuery('edit')">Edit</button>
        <button class="query-box-ausfuehren" mat-raised-button (click)="executeQuery()" >Ausführen</button>
      </div>
      <div class="execution-row" *ngFor="let element of dataSourceExecutions.data; let index = index" >
        <span><span class="execution-row-date">Ausgeführt am: </span>{{element.executedAt | date: 'mediumDate'}}</span>
        <span><span class="execution-row-status">Status: </span>{{element.status}}</span>
        <span><span class="execution-row-templateId">Template-ID: </span> {{element.templateId}}</span>
        <span><span class="execution-row-format">Ausgabeformat: </span>  {{element.outputFormat}}</span>
        <span class="execution-row-format"><i class="bi bi-download"></i></span>
      </div>
    </div>

  <div class="create">
    <button  class="create-button" mat-raised-button (click)="createNewQuery('create')" i18n>neue Anfrage erstellen</button>

    <div class="info-box">
        <h3 class="uebersicht-titel">Übersicht Anfragen</h3>

      <div *ngFor="let element of dataSource.data; let index = index" class="info-box-entry">
        <div (click)="setActiveDataSource(index)">
          <span class="infoBoxTitel">Titel: </span>
          <span class="created-label">{{element.label}}</span>
        </div>
        <div>
          <span class="infoBoxDatum">Datum: </span>
          <span class="created-date">{{element.createdAt | date: 'mediumDate'}}</span>
        </div>
        </div>

    </div>
  </div>
  </div>

  <div class="tablex" style="display:none">
    <section class="query-selection">
      <mat-checkbox class="active-queries" [(ngModel)]="activeQueries" (change)="filterQueries()" i18n>aktive Anfragen</mat-checkbox>
      <mat-checkbox class="archived-queries" [(ngModel)]="archivedQueries" (change)="filterQueries()" i18n>archivierte Anfragen</mat-checkbox>
    </section>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="toggleCheckbox($event, row)"
                        [checked]="selection.isSelected(row)"
                        [disabled]="editModus"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef><div i18n>Zeitstempel</div> </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="querytitle">
        <th mat-header-cell *matHeaderCellDef><div i18n>Label</div> </th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>

      <ng-container matColumnDef="querysource">
        <th mat-header-cell *matHeaderCellDef><div i18n>Anfrage</div> </th>
        <td mat-cell *matCellDef="let element"> {{element.query}} </td>
      </ng-container>

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef i18n>Format</th>
        <td mat-cell *matCellDef="let element" > {{element.format}} </td>
      </ng-container>

      <ng-container matColumnDef="executions">
        <th mat-header-cell class="table-link-column" *matHeaderCellDef i18n>Ausführungen</th>
        <td mat-cell class="table-link-column" *matCellDef="let element" > <a routerLink="{{getRouterLink(element.id)}}"><i class="link-icon bi bi-box-arrow-in-right"></i></a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleCheckbox($event, row)"></tr>
    </table>
  </div>

  <div class="paginator">
    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5,10,25,100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

