### Example user template template
### Example user template

# IntelliJ project files
.idea
.angular
.github
.vscode
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
dist
node_modules
