.config-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.config-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-raised-button{
  background-color: var(--color-green);
  margin-bottom: 40px;
}

.configuration-mat-sidenav{
  width: 25%;
  display: none;
}

.configuration-mat-sidenav .mat-list-item  {
  height: auto;
  margin-top: 16px;
}

/* show configuration-mat-sidenav on desktop */
@media (min-width: 1024px) {
  .configuration-mat-sidenav{
    display: block;
  }
}

h1 {
  margin: 40px auto;
}

h2 {
  position: relative;
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-blue);
  margin-bottom: 40px;
}

.toggle-all-button-container{
  cursor: pointer;
  margin-bottom: 32px;
}
