@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");

.main{
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
}
.over{
  width: 100%;
  color: #fcfcfc;
  margin-top: 1%;
}

h2{
  text-align: left;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 36px;
  margin-top: 1.5%;
}
button{
  color: white;
  font-size: 14px;
  border-radius: 10px;
  padding: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #002772;
}
.button{
  margin-top:1.5%;
  text-align: left;
  font-size: 14px;
  width: 100%;

}
progress{
  background-color: blue;
}

.search{
  font-size: 16px;
  margin-top: 0.5%;
  margin-left: 80%;
  display: flex;
}

table{
  text-align: center;
  width: 100%;
  margin-top: 2%;
}
.mat-column-zeitstempel {
  text-align: left;
  font-size: 115%;
}

.mat-column-version {
  font-size: 115%;
  text-align: center;
}
mat-paginator{
  opacity: 0.75;
}

@media(max-width : 1400px){
  .search{
    font-size: 16px;
    margin-top: 0.5%;
    margin-left: 60%;
    display: flex;
  }
}
