<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div mat-dialog-content>
  <br><p i18n>Startzeit</p>:<br>
  <p i18n>Verstrichene Laufzeit</p>: 0 min<br>
  <p i18n>Restlaufzeit</p>: 0 min<br><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  style="width: 25%; background-color: blue; color: white; border: 1px solid blue" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
  <p 18n><br>-lokalen Datenmanagementsystems Statistiken anfordern<br>-lokalen Datenmanagementsystems Ergebnisse anfordern</p>
  <!-- <p><br>-requesting local data management statistics<br>-requesting local data management results</p> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"><div i18n>Abbrechen</div></button>
</div>
