<mat-card appearance="outlined" class="teiler-box" [style.background]="teilerApp.backgroundColor">
  <mat-card-header>
    <div mat-card-avatar>
      <div class="teiler-box-icon" *ngIf="teilerApp.iconClass != undefined">
        <i class="{{teilerApp.iconClass}}"></i>
      </div>
      <div class="teiler-box-image" *ngIf="teilerApp.iconSourceUrl != undefined">
        <img src="{{teilerApp.iconSourceUrl}}">
      </div>
    </div>
      <mat-card-title>
          {{teilerApp.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{teilerApp.description}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer>
    <i class="{{getCheckIconClass()}}" title="{{getCheckIconTitle()}}"></i>
  </mat-card-footer>
</mat-card>
