h3{
  font-size: 130%;
  margin:0;
}
.teiler-box-image {
  min-height: 88px;
  display: flex;
  margin-bottom: 5px;
}
.teiler-box-image img{
  display: block;
  height: 60px;
  margin: auto;
}
p{
  font-size: 110%;
  margin: 0;
}
.teiler-box-icon {
  font-size: 470%;
  transition: transform 50ms ease;
  margin: 0 auto 5px auto;
  width: fit-content;
  min-height: 88px;
  display: flex;
  color: var(--icon-color);
}
.teiler-box {
  float:left;
  display:flex;
  flex-wrap: wrap;
  min-width: 270px;
  min-height: 290px;
  margin: 1.25%;
  position: relative;
  border-radius: 2%;
  box-shadow: 0px 0px 1px 1px lightgrey;
  transition: transform 150ms ease;
  vertical-align: middle;
  text-align: center;
  align-content: center;
  background-color: white;
  overflow: clip;
  color: var(--text-color);
}
.teiler-box.clickable {
  box-shadow: 6px 5px 12px 4px lightgrey;
}
.teiler-box._mat-animation-noopable {
  transition: all 1ms ease-in-out !important;
}

.teiler-box.clickable:hover {
  box-shadow: 6px 5px 15px 1px lightgrey;
  transform: scale(1.05);
}
.teiler-box.clickable:hover .strich{
  transform:scaleX(1);
}
.teiler-box-description {
  font-size: 90%;
  max-height: 88px;
  overflow: hidden;
}
.teiler-box-description:hover {
  overflow: auto;
}
.text{
  position: absolute;
  top: 8%;
  left: 6%;
  right: 5%;
  text-align: left;
}
.strich{
  padding-bottom: 0.5%;
  margin-right:4%;
  transform-origin:left;
  transform:scaleX(0);
  transition: transform 200ms ease;
  color: var(--line-color);
}
hr{
  height: 2px;
  border: none;
  background-color:var(--line-color);
  color: var(--line-color);
  margin: 6px 0;
}
.icon-footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  height: 40px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-radius: 50% 0 0 0;*/
  margin-left: 5%;
  /*transition: all 0.3s ease-in-out !important;*/
}
.icon-footer-box {
  border-radius: 50% 0 0 0;
  width: 40px;
  height: 35px;
  transition: all 0.3s ease-in-out !important;
  padding-top: 8px;
  margin-top:2px;
}
.teiler-box.clickable:hover .icon-footer-box{
  transform: translate(5px);
  box-shadow: -4px -1px 13px rgba(0, 0, 0, 0.35)
}
.bi-check-circle {
  color: green;
}
.bi-x-circle {
  color: red;
}
.bi-clock {
  color: orange;
}
