<div class="teiler-box">
  <div class="text">
    <div class="teiler-box-icon" *ngIf="teilerApp.iconClass != undefined" [ngStyle]="{'color': selected.color}" >
      <i class="{{teilerApp.iconClass}}" [ngStyle]="{'color': selected.color}" ></i>
    </div>
    <div class="teiler-box-image" *ngIf="teilerApp.iconSourceUrl != undefined">
      <img src="{{teilerApp.iconSourceUrl}}">
    </div>
    <h3>{{teilerApp.title}}</h3>
    <div class="strich" [ngStyle]="{'color': selected.color}">
      <hr [ngStyle]="{'background-color': selected.color}" >
    </div>
    <p>{{teilerApp.description}}</p>
  </div>
  <div class="icon-footer">
  <i class="{{getCheckIconClass()}}" title="{{getCheckIconTitle()}}"></i>
  </div>
</div>
