/* TODO: Problems while importing with i18n css
@import "~bootstrap-icons/font/bootstrap-icons.css";*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

h3{
  color: black;
  font-size: 130%;
  margin:0;
}
.teiler-box-image {
  min-height: 92px;
  display: flex;
  margin-bottom: 5px;
}
.teiler-box-image img{
  display: block;
  height: 60px;
  margin: auto;
}
p{
  color: black;
  font-size: 110%;
  margin: 0;
}
.teiler-box-icon {
  font-size: 470%;
  transition: transform 50ms ease;
  color: grey;
  margin: 0 auto 5px auto;
  width: fit-content;
  min-height: 92px;
  display: flex;
}
.teiler-box {
  float:left;
  display:flex;
  flex-wrap: wrap;
  min-width: 270px;
  min-height: 290px;
  margin: 1.25%;
  position: relative;
  border-radius: 2%;
  box-shadow: 6px 5px 15px 1px lightgrey;
  transition: transform 150ms ease;
  vertical-align: middle;
  text-align: center;
  align-content: center;
  background-color: white;
  overflow: clip;
}
.teiler-box._mat-animation-noopable {
  transition: all 1ms ease-in-out !important;
}

.teiler-box:hover {
  box-shadow: 6px 5px 15px 1px lightgrey;
  transform: scale(1.05);
}
.teiler-box:hover .strich{
  transform:scaleX(1);
}
.teiler-box-description {
  font-size: 95%;
}
.text{
  position: absolute;
  top: 10%;
  left: 6%;
  right: 5%;
  text-align: left;
}
.strich{
  padding-bottom: 0.5%;
  margin-right:4%;
  transform-origin:left;
  transform:scaleX(0);
  transition: transform 200ms ease;
}
hr{
  height: 1px;
  border: none;
  background-color: grey;
}
.icon-footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 0 0 0;
  transition: all 0.3s ease-in-out !important;
}
.teiler-box:hover .icon-footer{
  transform: translate(5px);
  box-shadow: -4px -1px 13px rgba(0, 0, 0, 0.35)
}
.bi-check-circle {
  color: green;
}
.bi-x-circle {
  color: red;
}
.bi-clock {
  color: orange;
}
