<div class="content" role="main">

  <div *ngIf="!isLoggedIn" class="welcome-text">
    <teiler-welcome></teiler-welcome>
  </div>

  <div class="tabs">
    <div class="section-header" *ngIf="existLocalAndCentralTeilerAppsAtTheSameTime()">
      <div class="tabs1">
        <div class="index">
          <div tabindex="0" role="tab"
               (click)="tab=1" (keyup.enter)="tab=1"
               [ngClass]="{active: tab===1}" class="apps" i18n>Lokale Apps</div>
          <div tabindex="0" role="tab"
               (click)="tab=2" (keyup.enter)="tab=2"
               [ngClass]="{active: tab===2}" class="apps" i18n>Zentrale Apps</div>
        </div>

        <div class="contents">
          <div *ngIf="tab === 1">
            <div class="slider-wrap">
              <div class="slider-main">
                <div *ngFor="let teilerApp of teilerService.teilerApps">
                  <div *ngIf="teilerApp.local && teilerApp.inMenu">
                    <div *ngIf="!teilerApp.externLink">
                      <a routerLink="{{'/'+teilerApp.routerLink}}">
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                    <div *ngIf="teilerApp.externLink">
                      <a routerLink="{{'/'+teilerApp.routerLink}}" [externalLinkBlank]="teilerApp.sourceUrl??''">
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="tab === 2">
            <div class="slider-wrap">
              <div class="slider-main">
                <div class="card-wrapper" *ngFor="let teilerApp of teilerService.teilerApps">
                  <div *ngIf="!teilerApp.local && teilerApp.inMenu">
                    <div *ngIf="!teilerApp.externLink">
                      <a routerLink="{{'/'+teilerApp.routerLink}}">
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                    <div *ngIf="teilerApp.externLink">
                      <a routerLink="{{'/'+teilerApp.routerLink}}" [externalLinkBlank]="teilerApp.sourceUrl??''">
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-header" *ngIf="!existLocalAndCentralTeilerAppsAtTheSameTime()">
        <div class="contents">
          <h3 i18n>Lokale Apps</h3>
          <hr>
            <div class="slider-wrap">
              <div class="slider-main">
                <div *ngFor="let teilerApp of teilerService.teilerApps">
                  <div *ngIf="teilerApp.local && teilerApp.inMenu">
                    <div *ngIf="!teilerApp.externLink">
                      <a routerLink="{{'/'+teilerApp.routerLink}}">
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                    <div *ngIf="teilerApp.externLink">
                      <a routerLink="{{'/'+teilerApp.routerLink}}" [externalLinkBlank]="teilerApp.sourceUrl??''">
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
