<div class="content" role="main">

  <div *ngIf="!isLoggedIn" class="welcome-text">
    <teiler-welcome></teiler-welcome>
  </div>

  <div class="tabs">
    <div class="section-header">
      <div class="tabs1">
        <section class="app-selection" *ngIf="existLocalAndCentralTeilerAppsAtTheSameTime()">
          <mat-checkbox class="local-apps" [(ngModel)]="showLocalApps" i18n>lokale Apps</mat-checkbox>
          <mat-checkbox class="central-apps" [(ngModel)]="showCentralApps" i18n>zentrale Apps</mat-checkbox>
        </section>
        <div class="contents">
          <div class="slider-wrap">
            <div class="slider-main">
              <div *ngFor="let teilerApp of teilerService.teilerApps">
                <ng-container *ngIf="(teilerApp.local && showLocalApps) || (!teilerApp.local && showCentralApps)">
                  <div *ngIf="teilerApp.inMenu">
                    <div *ngIf="!teilerApp.externLink">
                      <a *ngIf="isClickable(teilerApp); else nonClickableApp" routerLink="{{'/'+teilerApp.routerLink}}"
                      >
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                    <div *ngIf="teilerApp.externLink">
                      <a *ngIf="isClickable(teilerApp); else nonClickableApp" routerLink="{{'/'+teilerApp.routerLink}}"
                         [externalLinkBlank]="teilerApp.sourceUrl??''"
                      >
                        <teiler-box [teilerApp]="teilerApp"></teiler-box>
                      </a>
                    </div>
                    <ng-template #nonClickableApp>
                      <teiler-box [teilerApp]="teilerApp"></teiler-box>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
