@import url("../../../node_modules/bootstrap-icons/font/bootstrap-icons.css");
/*@import "~bootstrap-icons/font/bootstrap-icons.css";*/

teiler-welcome{
  position:sticky;
  display: block;
  width:90%;
  margin-left: 4%;
}
.content {
  display:flex;
  justify-content: center;
  vertical-align: middle;
}
.x1{
  font-size:25px;
  height: 30px;
}
.tabs{
  min-width: 65%;
  margin-left:4%;
  margin-right:4%;
  text-align: center;
  align-content: center;
  display: block;
  margin-top: 1%;
}
.apps{
 padding-left: 8%;
  padding-right: 8%;
  margin: 0 8%;
  cursor: pointer;
}
.apps:hover{
  border-bottom: 3px solid lightgrey;
}
.tabs1 .index {
  display: flex;
  font-size: 25px;
  width: 110%;
}

.tabs1 .index .active{
  padding-bottom: 0.5%;
  border-bottom: 3px solid black;
}
.slider-wrap{
  position: relative;
  overflow: hidden;
  min-height: 550px;
  padding-bottom: 2%;
  padding-top: 3%;
  text-align: center;
  align-content: center;
}
.slider-main{
  width: 100%;
  text-align: center;
  align-content: center;
}

.card-container a {
  display: inline-flex;
}
.contents h3 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: normal;
}
.app-selection {
  text-align: left;
}
.central-apps {
  margin-left: 2%;
}
.local-apps {
  margin-left: 1%;
}
@media(min-width : 1930px) {
  .tabs {
    min-width: 65%;
  }
}
@media(min-width : 1980px) {
.tabs {
  min-width: 62%;
}
}/*
@media(max-width : 1740px) {
  .content {
    zoom: 67%;
  }
  .tabs1 .index {
    display: flex;
    font-size: 25px;
    width: 120%;
  }
  .slider-wrap{
    position: relative;
    overflow: hidden;
    min-height: 550px;
    padding-bottom: 2%;
    padding-top: 3%;
    text-align: center;
    align-content: center;
  }
  .slider-main{
    width: 100%;
    text-align: center;
    align-content: center;
  }
}
/*
@media(max-width : 1200px){
  .welcome-text{
    flex: 1;
  }
  teiler-box{
    min-width: 220px;
    min-height: 260px;
    position: relative;
    border-radius: 2%;
    box-shadow: 10px 6px 10px 1px lightgrey ;
  }
  .text{
    position: absolute;
    top:12%;
    left: 2%;
  }
  .bi-x-circle{
    position: absolute;
    margin-top: 105%;
    left: 91%;
    transform: translate(-50%, -50%);
    color: palevioletred;
    font-size: 140%;
  }
  .tabs{
    width: 95%;
    min-width: 50%;
    transition: all 2s ease;
    padding: 5%;
    display: block;
    margin: auto;
    flex: 2;
  }
  .apps{
    padding-left: 6%;
    padding-right: 6%;
    margin: 0 6%;
  }
  .tabs1 .index {
    display: flex;
    font-size: 25px;
    width: 110%;
  }

  .tabs1 .index .active{
    padding-bottom: 0.5%;
    border-bottom: 3px solid black;
  }

  .content{
    margin-top: 3%;
    margin-right: 0;
    display: block;
    margin-left:0;
  }
  .slider-wrap{
    position: relative;
    overflow: hidden;
    min-height: 550px;
    padding-top: 3%;
    margin-left: 5%;
  }
  .slider-main{
    width: 100%;
    text-align: center;
    align-content: center;
  }
}*/
