<div class="app">
  <div class="toolbar">
    <div class="logo">
      <a routerLink="{{'/' + routeManagerService.mainRouterLink}}">
        <img width="40" alt="DKTK Teiler" src="https://dktk.dkfz.de/packages/dktk/img/logo-dktk-sign.svg" />
      </a>
      <span class="logo-text" i18n>Brückenkopf</span>
    </div>
    <div class="spacer"></div>
    <div class="user">
      <div *ngIf="user != undefined && user.length > 0">
        <i class="bi bi-person"></i>&nbsp;
        <span>{{user}}</span>
      </div>
      <div>
        <div *ngIf="!isLoggedIn">
          <a routerLink="{{'/' + routeManagerService.loginRouterLink}}"><span i18n>einloggen</span></a>
        </div>
        <div *ngIf="isLoggedIn">
          <a routerLink="{{'/' + routeManagerService.logoutRouterLink}}" (click)="authService.logout()"><span
              i18n>ausloggen</span></a>
        </div>
      </div>
      <div>
        <language-selector></language-selector>
      </div>
      <select [(ngModel)]="selected" [compareWith]="compareObjects"
              style="padding: 2%; font-size: 100%;  margin-right: 55%">
        <option *ngFor="let datas of data" [ngStyle]="{'color': datas.color}" [ngValue]="datas">
          {{datas.name}}
        </option>
      </select>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</div>
