@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:host {
  font-family: "Segoe UI Light", serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* You can add global styles to this file, and also import other style files */

  --color-blue: #1B9AAA;
  --color-yellow: #FFC43D;
  --color-pink: #EF476F;
  --color-green: #06D6A0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}
/* header */

.toolbar {
  display: grid;
  align-items: center;
  padding: 16px;
  grid-template-rows: repeat(2, auto);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* needed for box-shadow to show */
  position: relative;
  z-index: 10;
}

.toolbar * {
  color: black;
  text-decoration: none;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: calc(100% - 80px);
}

.user {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
}
.color-change{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .toolbar {
    grid-template-columns: auto 1fr auto;
  }

  .user {
    padding-top: 0;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo-text {
    text-align: left;
    margin-left: 16px;
  }
}



/* global TODO: move to global styles when implemented correctly */
::ng-deep h2 {
    margin: 0;
}

::ng-deep body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .form-field-wrapper {
    line-height: 32px;
}

::ng-deep .mdc-text-field {
    overflow: unset !important;
}

::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    line-height: unset !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: 48px !important;
}

::ng-deep .mdc-line-ripple::before {
    border-color: var(--color-blue)
}

::ng-deep .mdc-line-ripple::after {
    border-color: var(--color-yellow)
}
