<div class="app" #myIdentifier>
  <div class="toolbar">
    <div class="logo">
      <a routerLink="{{'/' + routeManagerService.mainRouterLink}}">
        <img style="margin:{{logoMargin}}px" height="{{logoHeight}}" src="{{logoUrl}}" [alt]="environment.config.TEILER_PROJECT+' Teiler'">
      </a>
      <span class="logo-text">{{logoText}}</span>
    </div>
    <div class="spacer"></div>
    <div class="user">
      <div *ngIf="user != undefined && user.length > 0">
        <i class="bi bi-person"></i>&nbsp;
        <span>{{user}}</span>
      </div>
      <div *ngIf="environment.config.OIDC_URL">
        <div *ngIf="!isLoggedIn">
          <span class="login-hint1" i18n>für weitere Apps loggen Sie sich Bitte > </span>
          <a class="login-link" routerLink="{{'/' + routeManagerService.loginRouterLink}}"><span i18n>hier</span></a>
          <span class="login-hint2" i18n> < ein</span>
        </div>
        <div *ngIf="isLoggedIn">
          <a routerLink="{{'/' + routeManagerService.logoutRouterLink}}" (click)="authService.logout()"><span
              i18n>ausloggen</span></a>
        </div>
      </div>
      <div>
        <language-selector></language-selector>
      </div>
    </div>
  </div>

  <svg [innerHtml]="svgimage" class="b-img" [style.width.px]="svgWidth" [style.height.px]="svgHeight"></svg>
  <app-sidebar></app-sidebar>
  <div *ngIf="showFooter" class="footer">
    <a class="user-agreement" href="{{contact.userAgreementLink}}" target="_blank">Nutzervereinbarung</a>
    <a class="email" href="mailto:{{contact.emailLink}}">{{contact.emailText}}</a>
    <div class="copyright">
      <span *ngIf="contact.aboutYear !== ''">&#169; {{contact.aboutYear}} </span>
      <a href="{{contact.aboutLink}}" target="_blank"
      >{{contact.aboutText}}</a
      >
    </div>
  </div>
</div>

