<div class="app">
  <div class="toolbar">
    <div class="logo">
      <a routerLink="{{'/' + routeManagerService.mainRouterLink}}">
        <img width="40" alt="DKTK Teiler" src="../assets/images/BBMRI-ERIC-gateway-for-health.svg" />
      </a>
      <span class="logo-text" i18n>BBMRI-ERIC Bridgehead</span>
    </div>
    <div class="spacer"></div>
    <div class="user">
      <div *ngIf="user != undefined && user.length > 0">
        <i class="bi bi-person"></i>&nbsp;
        <span>{{user}}</span>
      </div>
      <div>
        <div *ngIf="!isLoggedIn">
          <span class="login-hint1" i18n>für weitere Apps loggen Sie sich Bitte > </span>
          <a class="login-link" routerLink="{{'/' + routeManagerService.loginRouterLink}}"><span i18n>hier</span></a>
          <span class="login-hint2" i18n> < ein</span>
        </div>
        <div *ngIf="isLoggedIn">
          <a routerLink="{{'/' + routeManagerService.logoutRouterLink}}" (click)="authService.logout()"><span
              i18n>ausloggen</span></a>
        </div>
      </div>
      <div>
        <language-selector></language-selector>
      </div>
      <!--<div>
        <select [(ngModel)]="selectedColor" (change)="changeColor()" class="color-change">
          <option value="lightgrey">Default</option>
          <option value="lilac">Projektname</option>
          <option value="blue">Blue</option>
          <option value="brown">Brown</option>
        </select>
      </div>-->
    </div>
  </div>
  <app-sidebar></app-sidebar>
  <div class="footer">
    <a class="user-agreement" href="">Nutzervereinbarung</a>
    <a class="email" href="mailto:CCP@dkfz.de">CCP&#64;dkfz.de</a>
    <div class="copyright">
      <span>&#169; 2023 </span>
      <a href="https://dktk.dkfz.de/en/clinical-platform/about-ccp"
      >Clinical Comunication Platform (CCP)</a
      >
    </div>
  </div>
</div>
