.content {
  border-left: solid 1px #e0e0e0;
  /* min-width: 100%; */
  flex: 1;
  z-index:1;
  position: relative;
}
.main-content {
  display: flex;
  height: 100%;
  min-width: 100%;
  margin-top: 76px;
  margin-bottom: 50px;
  z-index:2;
}
.selector{
  font-size: 100%;
  z-index: 1;
  float: right;
  margin-top: -6.5%;
}

.sidebar-element {
  display: inline-flex;
}
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  width: 300px;

}
.router-style, .b-img{
  position: absolute;
}
.router-style{
  margin-top: 6%;
  z-index: 2;
  position: relative;
}
.b-img{
  z-index: 1;
}
.sidebar {
  font-size: 18px;
  transition: all 3ms ease;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  padding: 5px 0px;
}
.extern:hover{
  transform: scale(1.1);
}

.extern{
  margin-left: 20px;
  width: 90%;
  transition: all 40ms ease-in-out !important;
}
.intern:hover{
  transform: scale(1.1);
}
.intern{
  margin-left: 20px;
  width: 90%;
  transition: all 40ms ease-in-out !important;
}

.teiler-box-image img{
  height: 30px;
  margin-left: 5px;
  margin-top: 12px;
}
.teiler-box-image {
  width: 35px;
  overflow: clip;
}
.teiler-box-icon {
  width: 34px;
}
.sidebar-text {
  width: 230px;
  padding-right: 0;
}
.sidebar-text-span {
  width: 230px;
  padding-right: 0;
  padding-left: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  flex: 1;
}
.teiler-box-icon i{
  margin-left: 5px;
  margin-top: 10px;
  display: block;
  font-size: 24px;
}
.home-button {
  font-weight: bold;
}
@media screen and (min-width: 769px) {

    .side-nav {
        position: static;
    }
    .main-content {
        grid-template-columns: auto 1fr;
    }
    .side-nav-menu-container {
        position: sticky;
        top: 20px;
    }
}
@media(max-width : 769px){
  .side-nav-container{
    width: 0;
  }
  .content{
    overflow: visible;
  }
  .burger-menu-button-open, .burger-menu-button-close{
    position: absolute;
    float: left;
    text-align: left;
    height: 53px;
    width: 120px;
    z-index: 2;
    margin-bottom: 4%;
  }
  .burger-menu-button-close{
    background-color: white;
    z-index: 3;
    width: 10%;
  }
  .bi bi-x{
    font-size: 200%;
  }
 .side-nav {
    width:100%;
    margin-right: 0;
    height: 100%;
    padding-top: 10%;
    z-index: 2;
    position: absolute;
    transition: all 4s ease-in-out !important;
 }
 .burger-menu-button-open:checked{
   opacity: 0;
 }
}
