@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");

.main{
  width: 1200px;
  margin-left:auto;
  margin-right:auto;
}
.over{
  margin-top: 1%;
  color: dimgrey;
}
h2{
  text-align: left;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 32px;
  margin-top: 1.5%;
}
h3{
  text-align: left;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 22px;
  margin-top: 1.5%;
}

.search{
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin-top: 0.5%;
  margin-left: 960px;
}

mat-expansion-panel {
  margin-left: 0%;
  padding-right: 10px;
}

.downloadandselector {
  flex-direction: column;
}

table{
  text-align: left;
  width: 100%;
  color: dimgrey;
  margin-top: 2%;
}

mat-paginator{
  background-color: #fafafa
}
