@import url("../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import url("../../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
.main{
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
}
.title {
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}
h2{
  text-align: left;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 30px;
  margin-top: 1.5%;
}
h3{
  text-align: left;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 22px;
  margin-top: 1.5%;
}

.search{
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin-top: 0.5%;
  margin-left: 960px;
}

mat-expansion-panel {
  margin-left: 0%;
  padding-right: 10px;
}

.downloadandselector {
  flex-direction: column;
  margin-bottom: 20px;
}

table{
  text-align: left;
  width: 100%;
  color: dimgrey;
  margin-top: 2%;
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator{
  background-color: #fafafa
}
