@import url("../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import url("../../../../node_modules/bootstrap/dist/css/bootstrap.min.css");

.main{
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
}
.title {
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}
h2{
  text-align: left;
  font-size: 30px;
  margin-top: 1.5%;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
.search{
  font-size: 16px;
  align-self: flex-end;
  margin-top: 2.5%;
}

.mat-elevation-z8 {
  width:100%;
  border-left: 30px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  margin-top: 2%;
}


