@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");

.main{
  width: 1200px;
  margin-left:auto;
  margin-right:auto;
}

h2{
  text-align: left;
  font-size: 32px;
  margin-top: 1.5%;
}
.over{
  color: #fcfcfc;
}
.search{
  font-size: 16px;
  margin-left:960px;
  margin-top: 2.5%;
}

.mat-elevation-z8 {
  width:100%;
  border-left: 30px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  margin-top: 2%;
}


